__pycache__/
*.pyc
.DS_Store
.venv/
*.egg-info/
config.yaml
profile/cv.pdf
profile/profile.yaml
profile/*.aux
profile/*.log
profile/*.out
~/.candidatador/
.superpowers/
pytest_output.txt
candidatador.db
profile/**/*.aux
profile/**/*.log
profile/**/*.out
profile/nubank/test-color.*
.venv314/
